:root {
  --palette-footer: #533747;
  --palette-header: #86bbbd;
  --palette-main:  #76949f;
  --palette-buttons: #6a6b8377;
  --palette-buttons-hover: #6a6b83FF;
}

*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--palette-main);
}

#main-header {
  width: 100vw;
  height: 50px;
  background-color: var(--palette-header);
}

#application-container {
  display: flex;
  flex-direction: column;
  min-width: 802px;
  min-height: 600px;
  width: 802px;
  height: 600px;
  margin: 30px auto;
}

.display {
  width: 100%;
  line-height: 100px;
  font-size: 50px;
  background-color: transparent;
  border-style: none;
}

#application-container * {
  border: solid 1px black;
  border-radius: 3px;
}

#buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-size: 2rem;
}

#numbers {
  display: flex;
  flex-direction: row;
  width: 300px;
  flex-wrap: wrap;
  border-style: none;
  border-width: 0px;
}

#numbers * {
  width: 100px;
}

#operations {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 200px;
  height: 400px;
  flex-wrap: wrap;
  border-width: 0px;
}

#operations * {
  width: 100px;
  height: 100px;
}

#functions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
}

#functions * {
  width: 300px;
}

#zero-btn {
  flex-grow: 3;
}

#equals-btn {
  flex-grow: 3;
}

.calculator-btn {
  background-color: var(--palette-buttons);
  border-style: none;
}

.calculator-btn:hover {
  background-color: var(--palette-buttons-hover);
}

/* #main-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 50px;
  background-color: var(--palette-footer);
} */